<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Expense_Tracker</title>
  <!-- include css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/myindexcss.css">
  <link rel="stylesheet" href="/stylesheets/myshowcss.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- navigation -->
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          {{#if isAuthenticated}}{{user.name}}的{{/if}}記帳本
        </a>
        {{#if isAuthenticated}}
        <a href="/users/logout" class="btn btn-outline-light">Logout</a>
        {{else}}
        <a href="/users/login" class="btn btn-outline-light">Login</a>
        {{/if}}
      </div>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>