.bg-custom-gray {
  background-color: #e2dada;
  /* Change this to a lighter gray color */
}

.record {
  display: flex;
}

.record_item {
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.record_icon {
  flex: 0 0 50px;
  margin-right: 10px;
}

.record_icon img {
  max-width: 100%;
  max-height: 100%;
}

.record_info {
  flex: 1 1 0;
  margin-right: 10px;
}

.record_name {
  margin-top: 0;
}

.record_amount {
  flex: 0 0 100px;
  text-align: right;
}

.record_actions {
  flex: 0 0 200px;
}

.record_price {
  margin-right: 20px;
}

.container {
  width: 50%;
}

.navbar-brand {
  margin-left: 30px;
}

.total_cost {
  color: coral;
  font-size: 60px;
}

.record_actions {
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  margin-left: 30px;
}

.sort_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  margin: auto auto;
}

.btn {
  color: black;
  font-size: 1.5rem;
  background-color:#fffdfd;
}

#login, #logout {
  margin-right: 20px;
}

#dropdownMenuButton1 {
  margin: 20px auto 20px auto;
}

.cost_section {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.total_cost_text {
  font-size: 20px;
  font-style: bold;
}

.form-group {
  margin-bottom: 30px;
  font-size: 20px;
}

.form-group-head {
  width: 75%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin: 15px auto 30px 0;
}

.button-group {
  display: flex;
  justify-content: space-around;
}